body ,html{
  margin:0;
  padding: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  height: 100%;
  line-height: 1.8em;
  font-weight: 400;
  color: #666;

}

.pimg1, .pimg2, .pimg3
{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* fixed= Parallax
  scroll=normal */
  background-attachment: fixed;
}
.pimg1
{
  background-image: url('../images/Crime_1.jpg');

  min-height: 100%;
}
.pimg2
{
  background-image: url('../images/crime_3.jpg');
  min-height: 400px;
}
.pimg3
{
  background-image: url('../images/crime_2.jpg');
  min-height: 400px;
}
.section
{
  text-align: center;
  padding: 50px 80px;

}

.section-light
{
  background: #f4f4f4;
  color: #666;
}
.section-dark
{
  background: #282e34;
  color: #eee;
}
.ptext
{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.ptext .border
{
  background-color: #111;
  color: white;
  padding: 20px;
}
@media (max-width:568px) {
  .pimg1, .pimg2, .pimg3
  {
    background-attachment: scroll;
  }
}
