@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body ,html{
  margin:0;
  padding: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  height: 100%;
  line-height: 1.8em;
  font-weight: 400;
  color: #666;
  background: url('../images/background.jpg') no-repeat center center/cover;


}
.display_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 700px;
  object-fit: cover;
  border: 2px solid #000;
}
p{
  text-align: center;
   margin: auto;
  width: 50%;
  padding-top: 10px;
  font-size: 1.5rem;
  font: Montserrat;
}
.form
{

  margin: auto;

  width: 50%;
  height: 200px;
  padding: 10px;
}
.forms
{
  margin: auto;
  margin-top: 50px;
  width: 90%;
  padding: -1px;
}
header{
  background-color: #35424a;
  color: white;
  padding-top: 30px;
  min-height: 50px;
  border-bottom: #e8491d 3px solid;
  }
  header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  }
header ul{
  margin: 0;
  padding: 0px;
  padding-bottom: 10px;
  }
  header li{

    display: inline;
    padding: 0 20px 0 20px;

  }

header nav{
  position: absolute;
  left:25px;
   top:25px;
  margin-top: 5px;
}

header .current
{
  color:#e84e1d;
  font-weight: bold;

}
header a:hover{
  color: #cccccc;
  font-weight: bold;
}
.main .choice
{
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;

}

.main .container p
{
  font-size: 40px;
  color: #282e34;
  text-align: center;
  font-family: Montserrat,sans-serif;
}
.main .container p:hover
{
  font-size: 41px;
  color: #000;
  font-weight: bold;
}

.main a{
  color: #262626;
  text-decoration: none;
}
.main ul
{
  list-style: none;
}
.main .container #select , #select_any, #select_pred, #select_any_pred
{

  height:400px;
  border: 1px solid #111;

}
.main .head
{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main .head p{
  margin-top: 50px;
  margin-left: 230px;
  margin-right: 140px;
}
.main #select
{  margin-top: 10px;
  margin-left: 100px;
    margin-right: 10px;
  width: 400px;
  background: url('../images/for_graph.jpeg') no-repeat center center/cover;

}
.main #select_pred
{  margin-top: 10px;
  margin-left: 100px;
    margin-right: 10px;
  width: 400px;
  background: url('../images/for_prediction_1.jpeg') no-repeat center center/cover;

}

.main #select_any
{
  margin-top: 10px;
  margin-left: 10px;
    margin-right: 100px;
    width: 400px;
  background: url('../images/for_graph_1.jpeg') no-repeat center center/cover;
}
.main #select_any_pred
{
  margin-top: 10px;
  margin-left: 10px;
    margin-right: 100px;
    width: 400px;
  background: url('../images/for_prediction_2.jpeg') no-repeat center center/cover;
}
.main #select:hover{
  border:3px solid green;
}
.main #select_any:hover{
    border:3px solid green;
}
