 <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{url_for('static',filename='css/selectstyle.css')}}">
  <!--<link rel="stylesheet" href="selectstyle.css">-->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>display_any</title>
</head>
<body>
<img  class="display_img" src="{{url_for('static',filename='images/District_wise.png')}}">
</body>
</html>
