<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='css/selectstyle.css')}}">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome !</title>
</head>
<body>
  <header>
 <div class="container">

   <nav>
     <ul>
       <li class="current"><a href="{{url_for('index')}}">Home</a></li>
       <li><a href="{{url_for('prediction')}}">prediction</a></li>
       <li><a href="{{url_for('info')}}">Information</a></li>
     </ul>
   </nav>

 </div>
</header>
<div class="main">
  <div class="container">

<!-- <p>Want to visulaize in ??</p> -->
<div style="width:60%;margin:auto" class="head">

  <p style="font-size :1.5rem;width:55%;margin-left:100px;margin-right:20px" onclick="location.href='{{url_for('select')}}'">Districtwise general crimes</p>
  <p style="font-size :1.5rem;width:55%;margin-right:120px;margin-left:80px" onclick="location.href='{{url_for('select_any')}}'" >All crimes</p>
</div>

    <div class="choice">

    <div onclick="location.href='{{url_for('select')}}'" id="select">

    </div>
    <div onclick="location.href='{{url_for('select_any')}}'"  id="select_any">

    </div>
    </div>
  </div>
</div>
</body>
</html>
