<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="stylesheet" href="{{url_for('static',filename='css/selectstyle.css')}}">
 <!-- <link rel="stylesheet" href="selectstyle.css">-->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>select_women_pred</title>
</head>

<body>
  <header style="height:80px;">
    <div class="container">

      <nav>
        <ul>
          <li class="current"><a href="{{url_for('index')}}">Home</a></li>
          <li><a href="{{url_for('prediction')}}">Prediction</a></li>
          <li><a href="{{url_for('info')}}">Information</a></li>
        </ul>
      </nav>

    </div>
  </header>
  <body>
    <div style="margin-top:100px"class="forms">
      <form class="form-select form-select-lg mb-3 form" aria-label=".form-select-lg example" method="POST" action="{{ url_for('women') }}">
        <div class="form-group">
          <div  style="margin-top:100px;" class="input-group">
                  <select style="margin-left:15px;border-radius:3px" name="state" class="selectpicker form-control">
                    {% for o in states %}
                    <option style="margin-left:10px" value="{{ o.name }}">{{ o.name }}</option>
                    {% endfor %}
                  </select>
                    <select style="margin-left:15px;border-radius:3px" name="crime" class="selectpicker form-control">
                    {% for o in crimes %}
                    <option style="margin-left:10px" value="{{ o.name }}">{{ o.name }}</option>
                    {% endfor %}
                  </select>
                  <select style="margin-left:15px;border-radius:3px" name="year" class="selectpicker form-control">
                    {% for o in years %}
                    <option style="margin-left:10px" value="{{ o.name }}">{{ o.name }}</option>
                    {% endfor %}
                  </select>
                    <button style="margin-left:15px; width:70px" type="submit" class="btn btn-primary">Go</button>
          </div>

        </div>
      </form>

    </div>

  </body>

  </html>
